<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pushapp.press" >
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="com.pushapp.press.permission.C2D_MESSAGE" />-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!-- Needed for push notifications that contain VIBRATE flag. Optional, but recommended. -->
    <uses-permission android:name="android.permission.VIBRATE" />

  <!-- Fastland Supply screenshot app -->
  <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

  <!-- Allows for storing and retrieving screenshots -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <!-- Allows changing locales -->
  <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />


    <application
        android:name="com.pushapp.press.PushApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name="com.pushapp.press.AboutActivity"
            android:label="@string/title_activity_detail_post"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name="com.pushapp.press.DetailPostActivity"
            android:label="@string/title_activity_detail_post"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".HomeActivity">
        </activity>
        <activity
            android:name="com.pushapp.press.CategoryActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme"
        />
        <activity
            android:name="com.pushapp.press.YouTubeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="YouTube Player"
            android:theme="@style/MyMaterialTheme"
        />
        <activity
            android:name="com.pushapp.press.NotificationHandler"
            android:label="@string/title_activity_detail_post"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name="com.pushapp.press.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Toolbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.pushapp.press.util.gcm.IDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.pushapp.press.util.gcm.ListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.pushapp.press.util.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Push notifications -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e8e3bbc2256c70be95a43e59ef78a0e1b312db75" />

        <!-- Hockey App -->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


    </application>

</manifest>
