<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.push.krik" >
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.push.krik.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Needed for push notifications that contain VIBRATE flag. Optional, but recommended. -->
    <uses-permission android:name="android.permission.VIBRATE" />

  <!-- Fastland Supply screenshot app -->
  <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

  <!-- Allows for storing and retrieving screenshots -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <!-- Allows changing locales -->
  <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />


    <application
        android:name="com.push.krik.PushApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name="com.push.krik.AboutActivity"
            android:label="@string/title_activity_detail_post"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name="com.push.krik.DetailPostActivity"
            android:label="@string/title_activity_detail_post"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".HomeActivity">
        </activity>
        <activity
            android:name="com.push.krik.CategoryActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme"
        />
        <activity
            android:name="com.push.krik.YouTubeActivity"
            android:label="YouTube Player"
            android:theme="@style/MyMaterialTheme"
        />
        <activity
            android:name="com.push.krik.NotificationHandler"
            android:label="@string/title_activity_detail_post"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name="com.push.krik.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Toolbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.push.krik.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.push.krik.util.gcm.IDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.push.krik.util.gcm.ListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.push.krik.util.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Push notifications -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e8e3bbc2256c70be95a43e59ef78a0e1b312db75" />

        <!-- Hockey App -->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />


    </application>

</manifest>

